 body {
     background: url(images/background3.jpeg) no-repeat center center fixed;
     background-size: cover;
     font-family: cursive;
 }
 
 header {
     width: 80%;
     margin: auto;
     overflow: hidden;
     margin-bottom: 0;
     margin-left: 10rem;
 }
 
 nav {
     float: right;
 }
 
 ul {
     float: right;
 }
 
 li {
     display: inline;
 }
 
 li a {
     color: rgb(9, 241, 164);
     padding: 1rem;
     text-decoration: none;
 }
 
 li a:hover {
     color: orangered;
 }
 
 hr {
     border: 3px solid orangered;
     border-radius: 30%;
 }
 
 h1.ab {
     color: greenyellow;
     margin-top: 10px;
     padding-top: 0;
     margin-bottom: px;
     margin-left: 2rem;
     font-size: 60px;
 }
 
 img {
     float: left;
     width: 40%;
     height: 550px;
     border-radius: 50%;
     margin-top: 2rem;
 }
 
 div.words {
     float: right;
     width: 50%;
     height: 550px;
     border: 3px solido orangered;
 }
 
 div.words h1 {
     text-align: center;
     color: greenyellow;
 }
 
 p {
     color: #fff;
     font-weight: bold;
     font-size: 1rem;
 }
 
 div.words h2,
 h3 {
     color: white;
     display: block;
     padding: 0px;
     margin-left: 450px;
 }